{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<style>
    #category{
        padding: 8px;
        color: yellow;
        background-color: orange;
    }
    
    .card img{
        max-height: 500px;
    }
</style>

<div class="container">
    <div class="card mb-3">
        <img class="d-block w-100" src="{{ article.get_image }}" alt="Third slide">
        <div class="card-body p-5">
            <h7 id="category">{{ article.category }}</h7>
            <br><br>
            <h1 class="card-title">{{ article.title }}</h1>
            {{ article.content|safe }}
            <p class="card-text"><small class="text-muted">Last updated {{ article.modified_date }}</small></p>
        </div>
    </div>

    <div class="row">
        <div class="container my-2">
            <h4>Related Projects :</h4>
        </div>
        {% for project in article.projects.all %}
        <div class="col-sm-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ project.summary }}</h6>

                    <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ project.get_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.get_progress }}%"></div>
                    </div>
                    <a href="{% url 'project_item:generate_project_page' project.id project.slug_title %}" class="card-link">
                        <button class="btn btn-warning mt-3 text-white">donate</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}