{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container">            
    <span class="font-weight-light small text-monospace text-danger">note: can only login using gmail <br> implements django oauth for custom login/register</span>
    {% if user.is_authenticated %}
    <h1 class="display-4">Hello, {{ user.username }} apa kabar?</h1>
    <h1 class="display-4">{{ user.first_name }} {{ user.last_name }}</h1>
    <a href="{% url 'login:logout' %}"><button type="button" class="my-3 btn btn-danger"> Logout </button></a>
    {% else %}
    <p class="display-4">Hello, please login</p>
    <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="my-3 btn btn-success"> Login using Google account </button></a>
    {% endif %}
</div>

{% endblock %}