{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<style>
    .panel h2 { 
        color:#444444;
        font-size:18px;
        margin:0 0 8px 0;
    }
    
    .panel p {
        color:#777777;
        font-size:14px;
        margin-bottom:30px;
        line-height:24px;
    }
    
    .main-div {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 2px;
        border-style: solid;
        border-color: orange;
        margin: 10px auto 30px;
        max-width: 38%;
        padding: 50px 70px 70px 71px;
    }

    .login-form .form-group {
        margin-bottom:10px;
    }
    
    .login-form{
        text-align:center;
    }
    
    .login-form  .btn.btn-primary {
        border-color: #f0ad4e;
        color: #ffffff;
        font-size: 14px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
    }
    
    .form-check {
        text-align: left;
    }
    
    @media screen and (max-width: 750px) {
        .main-div {
            max-width: 60%;
        }
    }
    
    @media screen and (max-width: 550px) {
        .main-div {
            max-width: 80%;
            padding: 50px 30px 70px 30px;
        }
    }
</style>

<div class="login-form pt-5">
    <div class="main-div">
        <div class="panel">
            <h2>Donate Project</h2>
            <h6>{{ project.title }}</h6>
            <p>Please enter the amount to donate</p>
            {% if user.is_authenticated %}
            <p class="display-4">User :: {{ user.username }}</p>
            {% else %}
            <p class="display-4">Hello, please login</p>
            {% endif %}
        </div>
        <div id="Login">
            <div class="form-group">
                <input type="text" class="form-control" id="inputNominal" placeholder="donation amount">
            </div>
            
            <div class="form-group">
                <span class="font-weight-light small text-monospace text-danger">note: password validation doesnt work yet</span>
                <input type="text" class="form-control" id="inputPassword" placeholder="password">
            </div>
            
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="inputCheckbox" checked>
                <label class="form-check-label" for="exampleCheck1">display my name as patreon</label>
            </div>
                
            {% if user.is_authenticated %}    
            <button class="btn-submit btn btn-primary bg-warning mt-3">Submit</button>
            {% else %}
            <button class="btn-submit btn btn-primary bg-danger mt-3" disabled>Submit</button>
            {% endif %}
        </div>
    </div>
</div>

<script>
    $(".btn-submit").click(function () {
        console.log("submitted !!");
        var isLogged = ( {{ user.is_authenticated|lower }} );
        console.log(isLogged);
        
        if(isLogged){
            console.log($("#inputNominal").val());
            console.log($("#inputPassword").val());
            console.log($("#inputCheckbox").is(':checked'));
            console.log( "{{ project.id }}" );
            
            $.ajax({
                url: '/ajax/donate/',
                data: {
                    'nominal': $("#inputNominal").val(),
                    'password': $("#inputPassword").val(),
                    'checkbox': $("#inputCheckbox").is(':checked'),
                    'project_id': "{{ project.id }}"
                },
                success: function (data) {
                    if(data.is_submitable) {
                        console.log("submit me !!");
                        window.location.href = "/hub/project/"+data.project_id+"/"+data.project_slug;
                    } else {
                        console.log("reeeeeeee !!")
                    }
                }
            });
        } else {
            alert("please login first");
        }
    });
</script>
{% endblock %}