{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<img class="img-fluid w-100 mb-3" src="https://www.clipartmax.com/png/middle/84-847175_clownfish-under-construction-logo-free.png">
<div class="container">
    <h2>Hello, this page is under construction</h2>
</div>

{% endblock %}